.fotos{
    background-color: #fff;
    height: 641px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_fotos{
    color: #FCDA1C;
    font-size: 40px;
    text-shadow: 0.01em 0.04em 0.10em #fff;
    align-self: flex-start;
    margin-left: 210px;
}
.enquadramento_fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1100px;
}
.foto_fotos{
    width: calc(33.33% - 10px);
    border-radius: 5px;
    overflow: hidden;
}
.imagem_fotos{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media screen and (max-width: 1100px) {
    .foto_fotos {
        width: calc(50% - 10px); /* Reduzir a largura para 50% quando a tela for menor que 1100px */
    }
}

@media screen and (max-width: 700px) {
    .foto_fotos {
        width: calc(100% - 10px); /* Reduzir a largura para 100% quando a tela for menor que 700px */
    }
}