* {
    margin: 0;
    padding: 0;
}
.quemsomos {
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: #FCDA1C;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.conteudo_quemsomos {
    max-width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
}
.eliel_quemsomos{
    width: 30%;
    height: auto;
    border-radius: 5px;
    border: 10px solid black;
}

.time_quemsomos{
    width: 60%;
    height: auto;
    opacity: 0.1;
    border-radius: 5px;
}

.informacao_quemsomos {
    position: absolute;
    max-width: 40%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-6%, -50%);
}

.titulo_quemsomos {
   font-size: 30px;
   margin-bottom: 30px;
}

.texto_quemsomos{
    font-size: 25px;
    
}