body {
    background-color: #282828;
    color: #fff;
    /*deixou as letras brancas*/
}

.cabecalho {
    height: 80px;
    /*altura*/
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    /*space-between é "espaço entre"*/
    align-items: center;
    /*alinha os itens verticalmente*/
    padding: 0 300px;
    /*espaçamento de 80pixel pros lados e espaçamento de 0pixel emcima e embaixo*/
    border-bottom: 1px solid #282828;
    /*define uma borda de 1 pixel, sólida com a cor cinza*/
}

.cabecalho .logo {
    display: flex;
    gap: 15px;
    /*gap é espaçamento entre os filhos*/
}

.cabecalho .menu {
    display: flex;
    gap: 70px;
    /*espaçamento entre os nomes do menu*/
}

.cabecalho .menu li a {
    padding: 1px;
    /*espaçamento entre os nomes mas redimensionado o "quadrado" dela*/
    color: #000000;
    font-weight: bolder;
    /*peso da fonte*/
    font-size: 20px;
    font-family: 'Assistant';
    text-transform: uppercase;
    /**/
}

.cabecalho .menu li a:hover {
    /*quando passar o mouse por cima, vai aplicar um estilo*/
    border-bottom: 2px solid #FCDA1C;
}

.cabecalho .menu li a.contatenos{
    color: #ffffff;
    padding: 10px;
    font-size: 17px;
    background-color: #FCDA1C;
    border-radius: 10px;
}
/*desativar a borda de botao do ::hover*/
.cabecalho .menu li a.contatenos:hover{
    border-bottom: none;
}

.home {
    display: flex;
    position: center;
    min-height: calc(100vh - 80px);
    /*vh é view hieght, altura da minha janela do navegador e -80px pq o cabecalho tamanho é de 80px, e o min-height é a altura minima*/
}

.home .imagem-fundo {
    width: 100%;
    object-fit: cover;
    /*vai adequar a imagem para que nao perca a proporção de tamanho independente do tamanho do navegador*/
}

.home .informacoes {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .informacoes .titulo {
    font-family: 'Assistant';
    text-transform: uppercase;
    padding: 10px;
}

.home .informacoes a{
    text-transform: uppercase;
    font-family: 'Assistant';
    color: #FCDA1C;
    background: #000000;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}

.teste {
    background-color: #fc1000;
    padding: 100vh;
}
